<ng-container *ngIf="todos.length">
    <!--
        [singleTodo] <=> Référence à l'attribut singleToto décoré par @Input()
        ="todo" todo fait référence à l'objet todo de la liste
    -->
    <app-single-todo
        *ngFor="let todo of todos"
        [singleTodo]="todo"
        (onRemove)="removeTodo($event)"
    ></app-single-todo>
</ng-container>

<ng-container *ngIf="iTodos.length">
    <ul>
        <li *ngFor="let iTodo of iTodos">
            {{ iTodo.title }} ({{ iTodo.id }})
        </li>
    </ul>
</ng-container>

<ng-container *ngIf="dummyTodos.length">
    <ol>
        <li *ngFor="let dummyTodo of dummyTodos">
            {{ dummyTodo.title }} ({{ dummyTodo.id }}) - {{ dayPast(dummyTodo) }}
        </li>
    </ol>
</ng-container>
